<div class="main-div">

  <img src="../../assets/logo-white.png" class="footer-logo">
  <div class="mobile-menu-icons">
    <img src="../../assets/social-icons/Twitter.png" class="mobile-icon-image">
    <img src="../../assets/social-icons/discord.png" class="mobile-icon-image">
    <img src="../../assets/social-icons/facebook.png" class="mobile-icon-image">
    <img src="../../assets/social-icons/instagram.png" class="mobile-icon-image">
  </div>
  <div class="footer-text">
    <p class="footer-text-item">PRIVACY NOTICE</p>
    <p class="footer-text-item">TERMS & CONDITIONS</p>
  </div>
  <p style="color: #B07E8B;">Cyber Rabbit © 2021, All rights reserved</p>

</div>
